<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xgq.mapper.IUserMapper">


    <resultMap id="baseRequestMap" type="com.xgq.po.UserPo">
        <id column="user_id" property="userId"/>
        <result column="user_code" property="userCode"/>
        <result column="user_password" property="userPassword"/>
        <result column="user_mail" property="userMail"/>
        <result column="user_phone" property="userPhone"/>
        <result column="user_name" property="userName"/>
        <result column="personal_profile" property="personalProfile"/>
        <result column="status" property="status"/>
    </resultMap>

    <sql id="baseColumns">
        user_id,user_code,user_password,user_mail,user_phone,user_name,personal_profile,status,last_login
    </sql>

    <sql id="allCondition">
        <if test=" user.userId !=null ">
            AND user_id = #{user.userId}
        </if>
        <if test=" user.userCode !=null and user.userCode!='' ">
            AND user_code = #{user.userCode}
        </if>
        <if test=" user.userPassword !=null and user.userPassword!='' ">
            AND user_password = #{user.userPassword}
        </if>
        <if test=" user.userMail !=null and user.userMail!='' ">
            AND user_mail = #{user.userMail}
        </if>
        <if test=" user.userPhone !=null and user.userPhone!='' ">
            AND user_phone = #{user.userPhone}
        </if>
        <if test=" user.userName !=null and user.userName!='' ">
            AND user_name = #{user.userName}
        </if>
        <if test=" user.personalProfile !=null and user.personalProfile!='' ">
            AND personal_profile = #{user.personalProfile}
        </if>
        <if test=" user.status !=null and user.status!='' ">
            AND status = #{user.status}
        </if>
    </sql>

    <sql id="page">
        <if test="page !=null">
            limit #{page.startNum},#{page.pageSize}
        </if>
    </sql>


    <select id="selectPageList" resultMap="baseRequestMap">
        SELECT
        <include refid="baseColumns"/>
        FROM user
        where 1=1
        <include refid="allCondition"/>
        ORDER BY create_time DESC
        <include refid="page"/>
    </select>

    <select id="selectCount" resultType="int" parameterType="com.xgq.po.UserPo">
        SELECT count(1)
        FROM user
        where 1=1
        <include refid="allCondition"/>
    </select>

    <update id="updateStatusByUserCode">
        UPDATE user
        SET status = #{stauts}
        WHERE user_code
        in
        <foreach collection="userCodes" index="index" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>

    </update>

    <select id="getUserByUserCode" resultMap="baseRequestMap">
        SELECT
        <include refid="baseColumns"/>
        FROM user
        WHERE user_code = #{userCode}
    </select>


</mapper>
